<div class = 'content' id='top_stories'>
	<table>
		<tbody>
			<% @top_stories.each do |array| %>
			
				<% @keyword = array[0].strip %>
				<% @frequency = array[1] %>
				<% @story = array[2] %>

				<tr class="<%= @keyword %>">
					<td> <%= @story.source %></td>
				
					<th>
						<span id="<%= @story.area.strip %>">

							<span class="intext">
								<% t=@story.modified %>
								<%=  t.strftime("%d.%m.%Y").strip if t %> 
							</span> 

							<img class='tag' src='<%=@story.pic_url%>' width = '20' />
							
							<span class='tag'><%# @story.area.upcase.strip %></span>
							<%# @keyword %>
							<%= link_to @story.title, @story.url, :target => "_blank" %>
						</span>
						
					</th>
				</tr>

			<% end %>
		</tbody>
	</table>
</div>