<article>
	<%= render "partials/source_sidebar" %>
	<section class="container">

<<<<<<< Updated upstream:app/views/stories/index.html.erb
		<div class="all_by_date down" id="music">
				<%= render "partials/imagewall" %>
=======
		<div class="all_by_date desktop down" id="music">
>>>>>>> Stashed changes:app/views/stories/latest.html.erb
				<%= render "partials/allstories" %>
		</div>
		<div class="all_by_date mobile down" >
				<%= render "partials/allstories_mobile" %>
		</div>

		<div class="top_stories down" id="music">
				<%= render "partials/wordtags" %>
				<%= render "partials/top_stories" %>
		</div>

		<div class="by_source down">
				<%= render "partials/bysource" %>
		</div>

	</section>
</article>


<!-- 	<div class="sixteen columns offset-by-two" id="wordcloud" style="float: right; width: 1000px; height: 600px; left: 20%; top: 0; display: inline;">
	</div> -->






