<article>
	<%= render "partials/source_sidebar" %>
	<section class="container">

		<div class="all_by_date" id="music">
			<div class = 'sixteen columns offset-by-one' id='down'>
				<%= render "partials/imagewall" %>
				<%= render "partials/allstories" %>
			</div>
		</div>

		<div class="top_stories" id="music">
			<div class = 'sixteen columns offset-by-one' id='down'>
				<%= render "partials/wordtags" %>
				<%= render "partials/top_stories" %>
			</div>
		</div>

		<%= render "partials/bysource" %>

	</section>
</article>


<!-- 	<div class="sixteen columns offset-by-two" id="wordcloud" style="float: right; width: 1000px; height: 600px; left: 20%; top: 0; display: inline;">
	</div> -->






