<article>
<section class="container">
	<div class="all_by_date" id="music">
		<div class = 'sixteen columns offset-by-one'>
		
		<br class="clear" />

		

			<div class="row">
				<div class='mainpic'>
					<% @all_by_date.each do |story| %>
						<div><%= link_to image_tag(story.pic_url, :id => story.id, :width =>100, :height=> 100) %></div>
					<% end %>
				</div>
				
				<div class = 'content'>
					<table>
						<tbody>
							<% @all_by_date.each do |story| %>
						
								<tr>

									<td>
										<%= story.source %>
									</td>
									<!-- story -->
									<th>
										<span class="intext">
											<% t=story.modified %>
											<%=  t.strftime("%d.%m.%Y").strip if t %> 
										</span>

										<!-- <span class="pic_url">
											<%# image_tag(story.pic_url) %>
										</span> -->

										<span id="<%= story.id %>">

											<%= link_to story.title, story.url, :target => "_blank" %>
										</span>

									</th>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

	<div class="all_by_a_to_z" id="music">
		<div class = 'sixteen columns offset-by-one'>

		<div class="row">
			
			<div class = 'content'>
					<table>
						<tbody>
						<% @all_by_a_to_z.each do |story| %>
						
							<tr>
								<td>
									<%= story.source %>
								</td>
							
								<th>
									<span id="<%= story.area.strip %>">

										<span class="intext">
											<% t=story.modified %>
											<%=  t.strftime("%d.%m.%Y").strip if t %> 
										</span> 

										<img class='tag' src='' width = '20' />
										
										<span class='tag'>
											<%= story.area.upcase.strip %>	
										</span>
										
										<%= link_to story.title, story.url, :target => "_blank" %>
									</span>
									
								</th>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>


	<div class="by_source">
		<div class="sixteen columns offset-by-one">
				<!-- <div class="top">
					<div id = 'mydate' class="alpha"></div>
					<div id = 'mysource' class="omega"></div>
				</div> -->
			<% @sources.each do |s| %>

				<div class="<%= s[0].source %>" id = "source_<%= s[0].area %>">
					<table>
						<thead>
							<tr>
								<th>
									<%= s[0].area.upcase %>
									<span class='square'></span>
									<%= s[0].source.upcase %>

									<span id='date'></span>
								</th>
								<td>
									<!-- SOURCE -->
									
								</td>
							</tr>
						</thead>
						<tbody>
							<% s.each do |story| %>
								<% @shorttitle = story.title %>
								<tr>
									<th>
										<span class="intext">
											<% t=story.modified %>
											<%=  t.strftime("%d.%m.%Y").strip if t %> 
										</span>
										
										<%= link_to @shorttitle, story.url, :target => "_blank" %>
										<span id='id'></span>
										<!-- <%= story.id %>  -->
									</th>
									<td>
									<!-- SOURCE -->
									<%= story.source %>
								</td>

								
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>

			<% end %>
		</div>
	</div>


</section>


<!-- 	<div class="sixteen columns offset-by-two" id="wordcloud" style="float: right; width: 1000px; height: 600px; left: 20%; top: 0; display: inline;">
	</div> -->
</section>






