<article>
<section class="container">
	<div class="all_by_date" id="music">
		<div class = 'sixteen columns offset-by-one'>
		
		<!-- <br class="clear" /> -->

			<%# @top_stories.first %>

			<div class="row">
				<div class='mainpic'>

					<% @all_by_date.each do |story| %>
						<%= link_to image_tag(story.pic_url, :id => story.id, :height => 80) %>
					<% end %>
				</div>
			</div>

			<div class="row">
				<div class = 'content'>
					<table>
						<tbody>
							<% @all_by_date.each do |story| %>
						
								<tr>
									<td>
										<%= story.source %>
									</td>
									<!-- story -->
									<th>
										<span class="intext">
											<% t=story.modified %>
											<%=  t.strftime("%d.%m.%Y").strip if t %> 
										</span>

										<!-- <span class="pic_url">
											<%# image_tag(story.pic_url) %>
										</span> -->

										<span id='<%= story.id %>'>

											<%= link_to story.title, story.url, :target => "_blank" %>
										</span>

									</th>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

	<div class="top_stories" id="music">
		<div class = 'sixteen columns offset-by-one'>

		<div class="row">
				<!-- put logic for links and keywords here -->
				<!-- ["Google", 8, [994, 983, 941, 930, 927, 926, 909, 898] -->
				<% @top_stories_array.each do |compiled_array| %>
						<% @keyword = compiled_array[0].strip %>
							<% @frequency = compiled_array[1] %>
							<% @size = @frequency * 16 %>

							<div id='keyword_tags' key='<%= @keyword %>' style="font-size:<%=@size%>px; display: inline;">
								<%= @keyword %>
							</div>

				<% end %>
				

			
			<div class = 'content' id='top_stories'>
					<table>
						<tbody>
						<% @top_stories.each do |array| %>
						
							<% @keyword = array[0].strip %>
							<% @frequency = array[1] %>
							<% @story = array[2] %>

							<tr class="<%= @keyword %>">
								<td> 
									<%= @story.source %>
								</td>
							
								<th>
									<span id="<%= @story.area.strip %>">

										<span class="intext">
											<% t=@story.modified %>
											<%=  t.strftime("%d.%m.%Y").strip if t %> 
										</span> 

										<img class='tag' src='<%=@story.pic_url%>' width = '20' />
										
										<span class='tag'>
											<%# @story.area.upcase.strip %>	
										</span>
										<%# @keyword %>
										<%= link_to @story.title, @story.url, :target => "_blank" %>
									</span>
									
								</th>
							</tr>
				
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>


	<div class="by_source">
		<div class="sixteen columns offset-by-one">
				<!-- <div class="top">
					<div id = 'mydate' class="alpha"></div>
					<div id = 'mysource' class="omega"></div>
				</div> -->
			<% @sources.each do |s| %>

				<div class="<%= s[0].source %>" id = "source_<%= s[0].area %>">
					<table>
						<thead>
							<tr>
								<th>
									<%= s[0].area.upcase %>
									<span class='square'></span>
									<%= s[0].source.upcase %>

									<span id='date'></span>
								</th>
								<td>
									<!-- SOURCE -->
									
								</td>
							</tr>
						</thead>
						<tbody>
							<% s.each do |story| %>
								<% @shorttitle = story.title %>
								<tr>
									<th>
										<span class="intext">
											<% t=story.modified %>
											<%=  t.strftime("%d.%m.%Y").strip if t %> 
										</span>
										
										<%= link_to @shorttitle, story.url, :target => "_blank" %>
										<span id='id'></span>
										<!-- <%= story.id %>  -->
									</th>
									<td>
									<!-- SOURCE -->
									<%= story.source %>
								</td>

								
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>

			<% end %>
		</div>
	</div>


</section>


<!-- 	<div class="sixteen columns offset-by-two" id="wordcloud" style="float: right; width: 1000px; height: 600px; left: 20%; top: 0; display: inline;">
	</div> -->
</section>






